<% provide(:title, 'About') %>

<h2> Dmitri Linde </h2>

<h3> Software Developer </h3>

<div class="picture">

</div>

<div class="box-1">
    <p class="highlight">
        Well, Hello There!
    </p>

    <p>
        A
        B
        C
        D
    </p>
</div>

<div class="box-2">

</div>

<div class="box-3">
    <nav>
        <ul>
            <li>LinkedIn</li>
            <li>Facebook</li>
            <li>E-mail</li>
        </ul>
    </nav>
</div>

<div class="box-4">
    <p class="highlight">
        Needless to say,
    </p>

    <p>
        A
        B
        C
        D
    </p>
</div>