<% provide(:title, 'Projects') %>

<hr class="first-featurette-divider">

<div class="featurette">
    <%= image_tag(
        "placeholder.png",
        alt: "rss feed",
        class: "featurette-image pull-right")%>
    <h2 class="featurette-heading">
        Label Doc. 
        <span class="muted">You are what you eat.</span>
    </h2>
    <p class="lead">
        Currently under development.
    </p>
</div>

<hr class="featurette-divider">

<div class="featurette">
    <%= image_tag(
        "placeholder.png",
        alt: "rss feed",
        class: "featurette-image pull-left")%>
    <h2 class="featurette-heading">
        Hoo. 
        <span class="muted">Who, Where, & When.</span>
    </h2>
    <p class="lead">
        Currently under development.
    </p>
</div>

<hr class="featurette-divider">