<% provide(:title, 'Projects') %>

<hr class="first-featurette-divider">

<div class="featurette">
    <%= image_tag(
        "placeholder.png",
        alt: "rss feed",
        class: "featurette-image pull-right")%>
    <h2 class="featurette-heading">
        Label Doc. 
        <span class="muted">You are what you eat.</span>
    </h2>
    <p class="lead">
        An iOS application & website designed to raise awareness to the often false advertisement behind grocery product labels. Seamlessly integrating image recognition and augmented reality, the application dims product labels to reveal important community-generated information. Inspired by the award-winning documentary "Fed Up".
    </p>
</div>

<hr class="featurette-divider">

<div class="featurette">
    <%= image_tag(
        "placeholder.png",
        alt: "rss feed",
        class: "featurette-image pull-left")%>
    <h2 class="featurette-heading">
        Hoo. 
        <span class="muted">Who, Where, & When.</span>
    </h2>
    <p class="lead">
        An iOS application giving historical reference for your added contacts. Easily find when and how you last connected, date & location the contact was added, etc.
    </p>
</div>

<hr class="featurette-divider">