<% provide(:title, 'Projects') %>

<hr class="first-featurette-divider">

<div class="row-fluid">
    <div class="span12">
        <%= image_tag(
            "under_development.png",
            alt: "rss feed",
            class: "wip-image")%>
    </div>
</div>