// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container h1 h2 h3 h4 h5 h6 {
    font-weight: normal;
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

.featurette {
    padding-top: 120px;
    overflow: hidden;
}

.first-featurette-divider {
    margin: 20px 0;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image {
    margin-top: -120px;
}

@media (max-width: 979px) {
    .featurette-image.pull-left, .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
    }
}

@media (max-width: 767px) {
    .featurette-heading {
        font-size: 30px;
    }

    .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
    }

    .featurette-divider {
        margin: 40px 0;
    }
}