<div class>
  <div class="page-footer">
    <ul class="page-footer-nav">
      <li class="nav-inline-item">
        <span>Contact:</span>
      </li>
      <li class="nav-inline-item">
        <%= link_to "LinkedIn",
          "https://www.linkedin.com/pub/dmitri-linde/62/28b/529",
          class: "page-footer-link" %>
      </li>
      <li class="nav-inline-item">
        <%= mail_to "linde.dmitri@gmail.com",
          "E-Mail",
          class: "page-footer-link" %>
      </li>
    </ul>
    <div class="page-footer-text">
      <p>
        Dmitri Linde
      </p>
    </div>
  </div>
</div>
